@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

body {
  background-color: #eaeff1;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 32px;
  font-weight: 600;
  color: #2f3e46;
  text-align: center;
  margin-top: 5vh;
}

img {
  width: 100%;
  border-radius: 12px;
  height: 214px;
  object-fit: cover;
}

#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; /* This adds space between the cards */
  margin: 0 auto; /* Center the container on the page */
  max-width: 650px; /* Adjust this value based on your design needs */
}

.card {
  background-color: white;
  border: 1px solid #bacdd8;
  padding: 8px;
  border-radius: 12px;
  margin: 2px; /* Adjust or remove this based on the gap property above */
}

/* Style div elements that have class equal to name */
.name {
  font-size: 24px;
  font-weight: 600;

  margin-top: 16px;
}

/* Style p element */
p {
  font-size: 14px;
  color: #7f8c9b;
  line-height: 150%;
}

/* Style button element */
button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;

  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;

  /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
  margin: 0 auto;
  display: block;

  /* Button is a clickable element, therefore it should have a pointer cursor */
  cursor: pointer;
}

.card__details {
  /* Add space around the details */
  padding: 16px 8px 8px 8px;
}

/* Add style when button is focused or hovered */
button:focus,
button:hover {
  background-color: #0077ff;
  color: #e0efff;
}

#cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px; /* This adds space between the containers */
  margin: 0 auto; /* Center the container on the page */
}

.container {
  /* If you want to set a specific width for each container or add other styles */
  width: calc(50% - 10px); /* Adjust based on the gap and desired container width */
  display: flex;
  justify-content: center;
}
