<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <title>Ryan Richardson</title>
</head>
<body>
    <div id="intro" class="glowing-text"></div>
    <a href="/projects" id="projects" class="glowing-text"></a>
    <a href="/links" id="links" class="glowing-text"></a>
    <div id="contact" class="glowing-text"></div>
    <a href="mailto:ryanrich275@icloud.com" id="email" class="glowing-text"></a>
    <a href="https://github.com/ryanrichardson3" id="github" class="glowing-text"></a>
    <script src="static/scripts.js"></script>
</body>
</html>