<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/projects.css">
        <title>Projects</title>
    </head>
    <body>
        <h1>Projects</h1>
        <div id="cards-container">
            <div id="container">
                <div class="card">
                    <img src="static/imgs/rx2gaming.png" alt="Rx2 Gaming">
                    <div class="card__details">
                        <div class="name">Rx2 Gaming</div>
                        <p>Website to host my unity games.</p>
                        <form>
                            <button formaction="https://rx2gaming.com">Go to Rx2Gaming!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="container">
                <div class="card">
                    <img src="static/imgs/bartracker.png" alt="Bar Tracker">
                    <div class="card__details">
                        <div class="name">Bar Tracker</div>
                        <p>CS50 final project designed to track local bars.</p>
                        <form>
                            <button formaction="https://bar-tracker.rx2gaming.com">Go to Bar Tracker!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="container">
                <div class="card">
                    <img src="static/imgs/photography.png" alt="Drone Portfolio">
                    <div class="card__details">
                        <div class="name">Photgraphy Portfolio</div>
                        <p>Website to host my favorites photos and videos.</p>
                        <form>
                            <button formaction="https://richardsoncollection.com">Go to Richardson Collection!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>